.Rproj.user
.Rhistory
.RData
.Ruserdata

DATA/
REPORTS/
VIDEO/
FIGURES/
ARCHIVE/
WIP/
OUTPUT/appdata*

*.RDS
EB*.RDS
EB*.html

EBLauncher.R

Temp.qmd
junk*
*.mp4
*.RDATA
*.png
FAQT*
test*
Test*
Junk*
junk*
Add_Video*
Video_Tabs*
video_tab_code.txt
Temp*
temp*
appdata*


