.Rproj.user
.Rhistory
.RData
.Ruserdata

DATA/
OUTPUT/
VIDEO/
FIGURES/
ARCHIVE/

Temp.qmd
junk*
*.mp4
EB*.RDS


EBReport_*.html
*.png
EBReport.html
FAQT*
test*
Test*
Junk*
Add_Video*
Video_Tabs*
video_tab_code.txt
Temp*
video_tab_code.txt


