.Rproj.user
.Rhistory
.RData
.Ruserdata

DATA/
REPORTS/
VIDEO/
FIGURES/
ARCHIVE/

Temp.qmd
junk*
*.mp4
EB*.RDS

EB*.html
*.png
FAQT*
test*
Test*
Junk*
junk*
Add_Video*
Video_Tabs*
video_tab_code.txt
Temp*
temp*
appdata*


